@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  padding: 7.2rem 3.2rem 6.2rem 3.2rem;
  background-color: #e6eff5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 31.1rem;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1440 - 375)));
  line-height: 1.1;
}

h2 {
  font-size: calc(15px + (18 - 15) * ((100vw - 375px) / (1440 - 375)));
  line-height: 1.3;
}

p {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1440 - 375)));
  line-height: 1.6;
}

ul {
  list-style: none;
}

/* First section */

.first-section {
  padding: 2.8rem 2.4rem 3.2rem 2.4rem;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.first-section__title {
  color: #2ab3b1;
  margin-bottom: 2.4rem;
}

.first-section__subtitle {
  color: #c0df33;
  margin-bottom: 1.6rem;
}

.first-section__content {
  color: #9aa7be;
}

/* Second section */

.second-section {
  padding: 2.4rem;
  background-color: #2ab3b1;
}

.second-section__title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.8rem;
}

.second-section__price {
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 0.4rem;

  display: flex;
  align-items: center;
}

.second-section__price span {
  font-size: 1.6rem;
  margin-left: 1.1rem;
  opacity: 0.5;
}

.second-section__content {
  color: #fff;
  font-size: 1.6rem;
}

.btn {
  width: 100%;
  margin-top: 2.6rem;
  color: #fff;
  background-color: #c0df33;
  border-radius: 5px;
  line-height: 1.1;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem 0 1.4rem 0;
  border: none;
  outline: none;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Third section */

.third-section {
  padding: 2.4rem;
  background-color: #2fb5b3;
  color: #fff;
}

.third-section__subtitle {
  font-size: 1.8rem;
  font-weight: 700;

  margin-bottom: 1.8rem;
}

.third-section ul li {
  opacity: 0.75;
  line-height: 1.4;
  font-size: 1.4rem;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 1.2rem;
}

/* Media Queries */

@media (min-width: 768px) {
  main {
    max-width: 63.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .first-section {
    grid-column: 1 / -1;
    padding: 4rem;
  }

  .second-section {
    padding: 4rem;
  }

  .third-section {
    padding: 4rem;
  }
}
